* {
font-family: arial, helvetica, sans-serif;
color: #333;
}

body {
	background-color: #eee;
	font-family: arial, helvetica, sans-serif;
}

a, :visited, :before, :after {
	text-decoration: none;
	color: #2088e3;
}

a:hover {
	text-decoration: underline;
}


.center {
	margin: 0% auto;
	text-align: center;
	vertical-align: middle;
}